<div class="umb-pane">
    <div ng-controller="Tinifier.TinifierOrganizeImages.Controller">
        <div class="help">All media files in the folder will be sorted into folders based on a creation date. If you have tons of media files in a single folder, this action can save you a lot of time. You will be able to revert the changes.</div>

        <div class="btn-toolbar umb-btn-toolbar">
            <button class="btn btn-primary" ng-click="organizeImages()">Organize</button>
            <button class="btn" ng-click="discardOrganizing()">Discard changes</button>
            <a class="btn btn-link" ng-click="nav.hideDialog()">Cancel</a>
        </div>

        <div class="btn-toolbar umb-btn-toolbar">
        </div>
    </div>
</div>