.stat-image{
     text-align:center;
     display: flex; 
     min-height: 60px; 
     padding-top: 10px; 
     padding-right: 10px; 
     padding-bottom: 10px; 
     padding-left: 10px; 
     background-color: #fff; 
     border-top-right-radius: 3px;
     border-top-left-radius: 3px;
     align-items: center;
     justify-content: center;
}
.stat-block{
    width: 280px; 
    min-width: 100px;
    display:inline-block; 
    border:1px solid #e9e9eb;
}
.stat-content{
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    text-align: center;
    background: #f3f3f5;
    border-top: 1px solid #e9e9eb;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.stat-text{
    max-width: 250px;
    margin-right: auto;
    margin-bottom: 5px;
    margin-left: auto;
    overflow: hidden;
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.stat-info{
    display: flex;
    margin-top: 10px;
    opacity: .6;
    flex-wrap: wrap;
    flex-direction: row;     
    justify-content: center;
}
.stat-numbers{
    font-size: 85%;
}
.chart-block{
    width: 565px; 
    min-width:100px;
    display:inline-block; 
    border:1px solid #e9e9eb;
    margin-top:5px;
}
.loading-image{
    height: 50px;
    width:50px; 
    background: url('../media/spinner.gif') center center no-repeat;
}
.dialog-message{
    font-size: 16px; 
    text-indent: 2em; 
    margin-top: 25px;
}
.update-seconds{
    display:none;
    text-align: left;
}
.resetButton{
    background-color: red;
    border: none;
    color: white;
    text-decoration: none;
    display: none;
    font-size: 13px;
}
.pushButton{
    background-color: red;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    padding:15px 30px;
}
.pushButtonStop{
    background-color: orange;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    padding:15px 30px;
}
