<?xml version="1.0"?>
<FileSystemProviders>
  
  <!-- Media -->
  <!--using development storage emulator-->
  <Provider alias="media"
             type="idseefeld.de.UmbracoAzure.AzureBlobFileSystem, idseefeld.de.UmbracoAzure">
        <Parameters>
            <add key="containerName" value="media" />
            <add key="rootUrl" value="http://127.0.0.1:10000/devstoreaccount1/" />
            <add key="connectionString" value="UseDevelopmentStorage=true"/>
        </Parameters>
    </Provider>
   
</FileSystemProviders>
