<?xml version="1.0"?>
<FileSystemProviders>
  
  <!-- Media -->
  <Provider alias="media" type="Umbraco.Core.IO.PhysicalFileSystem, Umbraco.Core">
    <Parameters>
      <add key="virtualRoot" value="~/media/" />
    </Parameters>
  </Provider>
  <!--<Provider alias="media"
             type="idseefeld.de.UmbracoAzure.AzureBlobFileSystem, idseefeld.de.UmbracoAzure">
        <Parameters>
            <add key="containerName" value="media" />
            <add key="rootUrl" value="http://127.0.0.1:10000/devstoreaccount1/" />
            <add key="connectionString" value="UseDevelopmentStorage=true"/>
        </Parameters>
    </Provider>-->
</FileSystemProviders>
