<?xml version="1.0"?>
<FileSystemProviders>

	<!-- Media -->
	<!-- parameters order is important ! -->
	<!-- place this in your umbraco instanze in the /config folder -->
	
	<!--<Provider alias="media" type="Umbraco.Core.IO.PhysicalFileSystem, Umbraco.Core">
		<Parameters>
			<add key="virtualRoot" value="~/media/" />
		</Parameters>
	</Provider>-->
	
	<Provider alias="media"
			  type="idseefeld.de.UmbracoAzure.AzureBlobFileSystem, idseefeld.de.UmbracoAzure">
		<Parameters>
			<add key="containerName" value="media" />
			<add key="rootUrl" value="http://[myAccountName].blob.core.windows.net/" />
			<add key="connectionString" value="DefaultEndpointsProtocol=https;AccountName=[myAccountName];AccountKey=[myAccountKey]"/>
            <add key="mimetypes" value="" />
            <add key="cacheControl" value="*|public, max-age=31536000;js|no-cache" />
		</Parameters>
	</Provider>

    <!--using development storage emulator-->
    <!--<Provider alias="media"
             type="idseefeld.de.UmbracoAzure.AzureBlobFileSystem, idseefeld.de.UmbracoAzure">
        <Parameters>
            <add key="containerName" value="media" />
            <add key="rootUrl" value="http://127.0.0.1:10000/devstoreaccount1/" />
            <add key="connectionString" value="UseDevelopmentStorage=true"/>
        </Parameters>
    </Provider>-->
	
</FileSystemProviders>
