<div ng-controller="Tinifier.TinifierEditTSetting.Controller">
    <form name="settingsForm" ng-submit="submitForm()" val-form-manager>
        <umb-editor-view>
            <umb-editor-container>
                <div class="umb-editor-container umb-panel-body umb-scrollable row-fluid">
                    <div class="umb-pane">
                        <div class="form-horizontal">
                            <div class="umb-property" style="display:inline-block">
                                <div class="control-group umb-control-group">
                                    <div class="umb-el-wrap">
                                        <h3>API Key<small class="ng-binding"> (required)</small></h3>
                                        <p style="width: 85%;">You can get it on a <a href="http://goo.gl/gaaz8i" style="color:blue">TinyPNG website</a>. Available free requests could be checked on the "Statistic" tab.</p>
                                        <input class="umb-property-editor ng-dirty ng-valid ng-valid-required" type="text" style="width: 85%;" ng-model="timage.ApiKey" required="">
                                    </div>                                       
                                </div>
                            </div>
                            <div class="umb-property" style="display:inline-block;">
                                <div class="control-group umb-control-group">
                                    <div class="umb-el-wrap">
                                        <h3>Tinify everything</h3>
                                        <p style="width: 100%;">For those who want to oprimize all images in one click. Please be sure that you have enough requests.</p>
                                        <button type="button" class="pushButton btn-success" data-toggle="modal" data-target="#myModal">Tinify everything!</button>
                                    </div>
                                </div>
                            </div>
                            <div class="umb-property" style="display:inline-block">
                                <div class="control-group umb-control-group">
                                    <div class="umb-el-wrap">
                                        <h3>Optimize on upload<small class="ng-binding"> (optional)</small></h3>
                                        <p style="width: 85%;">You will never get non - optimized images but should wait more on each image upload.</p>
                                        <select ng-options="option.value as option.label for option in options" ng-model="timage.EnableOptimizationOnUpload" style="width: 100%;"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="umb-property" style="display:inline-block; margin-left: 7%;">
                                <div class="control-group umb-control-group">
                                    <div class="umb-el-wrap">
                                        <h3>Hard reset</h3>
                                        <p style="width: 100%;">Click this button if your tinifing process stuck or you just want to stop tinifing.</p>
                                        <button type="button" class="pushButtonStop" ng-click="stopTinifing()">Stop tinifing!</button>
                                    </div>
                                </div>
                            </div>
                            <div class="umb-property">
                                <div class="control-group umb-control-group">
                                    <div class="umb-el-wrap">
                                        <h3>Hide left panel<small class="ng-binding"> (optional)</small></h3>
                                        <p style="width: 39%;">If you have a huge website with tons of images left panel could be messy. You can read more here (<a href="http://goo.gl/A5fHws" style="color:blue">http://goo.gl/A5fHws</a>)</p>
                                        <select ng-options="option.value as option.label for option in options" ng-model="timage.HideLeftPanel" style="width: 41%;"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </umb-editor-container>
            <umb-editor-footer>
                <umb-editor-footer-content-left>
                    <umb-breadcrumbs ng-if="ancestors && ancestors.length > 0"
                                     ancestors="ancestors"
                                     entity-type="media">
                    </umb-breadcrumbs>
                </umb-editor-footer-content-left>
                <umb-editor-footer-content-right>
                    <button type="submit" class="btn btn-success">Save</button>                   
                </umb-editor-footer-content-right>
            </umb-editor-footer>
        </umb-editor-view>
    </form>
</div>

<div class="modal fade" id="myModal" role="dialog" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">The confirmation</h4>
            </div>
            <div class="modal-body">
                <p>All images on the site will be compressed. It could be time-consuming operation and could affect your server in case of thousands of images. Do you wish to continue?</p>
            </div>
            <div class="modal-footer">
                <div ng-controller="Tinifier.TinyTImage.Controller">
                    <button type="button" class="btn btn-default" ng-click="tinifyAll()" data-dismiss="modal">Confirm</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
